#content{
    background-color:#FFD6AF;
    max-width: 960px;
    margin: auto;
}

body {
    background-color: #61210f;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #BF0603;

}
header{
    display:grid;
    grid-template-columns:200px auto;
    border-bottom:3px solid;
    border-color: #BF0603;
    text-align: center;
    background-color: #292929;
}


nav a{
    color: #BF0603;
    text-align: center;
}

footer{
    display:grid;
    grid-template-columns:80% 1fr;

    border-top: 3px solid;
    border-color:#BF0603;
    
}


h1, h2{
    font-family: "Gadget", serif;
    
    color: #BF0603;
}
/*photo size corrections*******************************/
.domainpicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.websitepicture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.colorphoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*typography color styles and choices samples*********/

.siteheader{
    background-color: #B7D5D4;
    font-family: "Bodoni Moda", serif;
    font-size: 40px;
    
    color: #F34213;
}

.primarynavigation{
    background-color: #DE9151;
    font-family: "Bodoni Moda", serif;
    font-size: 30px;
    
    color: #373E40;
}

.footernavigation{
    background-color: #DE9151;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    
    color: #373E40;
}

.heading1{
    background-color: #B7D5D4;
    font-family: "Bodoni Moda", serif;
    font-size: 30px;
    
    color:#F34213;
}

.heading2{
    background-color: #B7D5D4;
    font-family: "Bodoni Moda", serif;
    font-size: 25px;
    
    color:#F34213;
}

.heading3{
    background-color: #B7D5D4;
    font-family: "Bodoni Moda", serif;
    font-size: 20px;
    
    color:#F34213;
}
.paragraphtext{
    background-color: #B7D5D4;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    
    color:#373E40;
}



/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}


main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #292929;
}

main section:nth-child(2) {
	display: block;
	margin: 0.5rem;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
