.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:0.5em;
}

#content{
    background-color:#FFD6AF;
    max-width:960px;
    margin: auto;
}

header{
    display:grid;
    grid-template-columns:200px auto;
    border-bottom:3px solid;
    border-color: #BF0603;
}

body{
    background-color: #db892c;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #444;
}

.name{
    display:block;
    margin-left: 30px;
    text-align: left;

}

.familypicture{
    border-radius: 10% 10% 10% 10%;
    float: right;
    max-width: 300px;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

h1, h2{
    font-family: "Gadget", serif;
    
    color: #BF0603;
}
p{
    font-family:"Arial", "Helvetica", "sans-serif";
}

footer{
    display:grid;
    grid-template-columns:80% 1fr;

    border-top: 3px solid;
    border-color:#BF0603;
    
}

header, footer{
    border-radius: 15px;
}

img{
    max-width:100%;
}

.foot{
    text-align:center;
    margin-top:10px;
}
