#content{
    background-color:#FFD6AF;
    max-width: 960px;
    margin: auto;
}

body {
    font-family: "Open Sans" sans-serif;
    background-color: #61210f;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #BF0603;

}

footer{
    display:grid;
    grid-template-columns:80% 1fr;

    border-top: 3px solid;
    border-color:#BF0603;
    
}


h1, h2{
    font-family: "Gadget", serif;
    
    color: #BF0603;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}



main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #61210f;
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
